<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isLoggedIn$ | async) ? 'navigation' : 'dialog'"
      [mode]="(isLoggedIn$ | async) ? 'side' : 'over'"
      [opened]="(isLoggedIn$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    
    <mat-nav-list>
      <a mat-list-item routerLink="/claim-initiation" *ngIf="isCustomer">Submit New Claim</a>
      <a mat-list-item routerLink="/claim-list">Track Your Claims</a>
      <a mat-list-item routerLink="/claim-report" *ngIf="isManager">Generate Report</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isLoggedIn$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>YCompany Auto Claims</span>
      <span class="spacer"></span>
      <ng-container *ngIf="isLoggedIn$ | async">
        <span class="welcome-message" *ngIf="userID">Welcome {{userID}}</span>
        <button mat-button (click)="logout()">Logout</button>
      </ng-container>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
